# пример .env файла, без секретов
DEV_URL=https://link.ru
DEV1_URL=https://link.ru
DEV2_URL=https://link.ru
DEV3_URL=https://link.ru
DEV4_URL=https://link.ru
DEV5_URL=https://link.ru
DEV6_URL=https://link.ru
DEV7_URL=https://link.ru
DEV8_URL=https://link.ru
DEV9_URL=https://link.ru
DEV10_URL=https://link.ru
PROD_URL=https://link.ru
DEV_USER=test@get.com
DEV_PASSWORD=password